# Folders and Files to ignore
/compiled/
*.less.css

/css/mura

# OS or Editor folders
*~
.DS_Store
._*
Thumbs.db
.cache
.project
.rdsTempFiles
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
*_notes/
*.json
